body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f9ff;
  color: #002a5c;
  text-align: center;
  padding: 50px;
}

.container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 42, 92, 0.1);
}

h1 {
  color: #003366;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  color: #333;
}

form {
  margin-top: 20px;
}

input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #003366;
}

button {
  width: 95%;
  padding: 10px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

button:hover {
  background-color: #e60023; /* toque rojo */
}

.footer {
  font-size: 13px;
  margin-top: 15px;
}

.footer a {
  color: #e60023;
  text-decoration: none;
  font-weight: bold;
}
